{% extends 'main/base.html' %}

{% block title %}Контакты | SAI{% endblock %}

{% block content %}
<h2 class="text-xl font-semibold text-gray-800">Связаться с нами</h2>

<div class="mt-4 space-y-4 text-gray-700">
    <p>
        <i class="fas fa-envelope text-indigo-600 mr-2"></i>
        <strong>Email:</strong> sai-sre@ucell.uz
    </p>
    <p>
        <i class="fas fa-phone text-green-600 mr-2"></i>
        <strong>Телефон:</strong> +998 (XX) XXX-XX-XX
    </p>
    <p>
        <i class="fas fa-map-marker-alt text-red-500 mr-2"></i>
        <strong>Офис:</strong> г. Ташкент, ул. Инноваций, 15а
    </p>
</div>
{% endblock %}